.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.0rem;
  font-weight: bold;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: rgb(68, 255, 0);
}

.add-button:hover {
  background-color: rgba(0, 217, 255, 0.448);
}

.delete-button {
  background-color: hsl(0, 83%, 62%);
}

.delete-button:hover {
  background-color: hsl(9, 54%, 95%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 5px;
  border: 2px solid rgb(4, 2, 2);
  border-radius: 5px;
  color: rgb(11, 13, 11);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.762);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: auto; /* Aligns delete button at the end */
}

.checkbox-container {
  margin-right: 10px; /* Adjust margin as needed */
}

.completed {
  text-decoration: line-through;
}
